clueweb
.DS_Store
.conda
.*
debate_formats/ping_pong/prompts/opponent_1
debate_formats/ping_pong/prompts/opponent_1.txt
debate_formats/ping_pong/prompts/opponent_2
debate_formats/ping_pong/prompts/opponent_2.txt
debate_formats/ping_pong/prompts/proponent_1
debate_formats/ping_pong/prompts/proponent_1.txt
debate_formats/ping_pong/prompts/proponent_2
debate_formats/ping_pong/prompts/proponent_2.txt
