clueweb
*.DS_Store
*__pycache__
*.env
*.venv
*.conda

.conda
*.class
DerivedData/CluewebIndex/*
DerivedData/SearchResults/*
DerivedData/BinAgent/*
DerivedData/ContextBuilder/*
DerivedData/MSMarcoIndex
MarcoIndex/*
!MarcoIndex/.gitkeep
DerivedData/Assistant/AssistantId.txt
cleanup.txt

# Keep empty directories
!DerivedData/CluewebIndex/.gitkeep
!DerivedData/SearchResults/.gitkeep
!DerivedData/BinAgent/.gitkeep
!DerivedData/ContextBuilder/.gitkeep

src/test.py